# .env.example - Copy to .env and customize

APP_ENV=development  # development, staging, production
DEBUG=True
HOST=127.0.0.1
PORT=8001
LOG_LEVEL=INFO
RELOAD=True
WORKERS=1

# API Keys
OPENAI_API_KEY=your_api_key_here
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com  # if outside of US, then set it to https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=api_key
LANGSMITH_PROJECT="langchain-course-dev"
